.boutique-products-grid{
    .woocommerce{
        ul.products{
            &:before,&:after{
                display: none;
            }
            &.columns-4{
                grid-template-columns: repeat(4, 1fr);
            }
            &.columns-3{
                grid-template-columns: repeat(3, 1fr);
            }
            display: grid;
            
            grid-gap: 64px 20px;
            margin-bottom: 0;

            li{
                width: 100% !important;
                float: none;
                margin: 0;

                .custom-product-wrap{
                    .img-wrap{
                        img{
                            margin-bottom: 0;
                        }
                    }
                }
                .add_to_cart_button{
                    margin-top: 0;
                }
            }
        }
    }
}

.custom-product-wrap{
    .img-wrap{
        border-radius: 8px;
        overflow: hidden;
    }
    .title-price-wrap{
        padding-block: 16px;
        display: flex;
        column-gap: 20px;
        // align-items: center;

        .site-product-title{
            font-family: "Jost", Sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            color: var(--e-global-color-primary);
            margin-block: 0;
            a{
                color: inherit;
            }
        }
        .site-product-price{
            flex: none;
            display: flex;
            flex-direction: column-reverse;
            text-align: right;
            // del,ins{
            //     display: block;
            // }
            ins{
                font-size: 18px;
                line-height: 27px;
                color: var(--e-global-color-primary);
            }
            del{
                font-size: 14px;
                line-height: 21px;
                color: var(--e-global-color-secondary);
            }
        }
    }
    .add-to-cart-wrap{
        .add_to_cart_button{
            width: 100%;
            font-size: 16px;
            background-color: var(--e-global-color-secondary);
            padding: 15px 28px;
            color: #fff;
            border-radius: 8px;
            font-weight: 600;
            text-align: center;
            transition: background-color 0.3s ease;
            &:hover{
                background-color: var(--e-global-color-primary);
                color: #fff;
            }
        }
    }
}


// max width media
@media (max-width: 1024px){	
    .boutique-products-grid{
        .woocommerce{
            ul.products{
                 &.columns-4{
                    grid-template-columns: repeat(2, 1fr);
                }
                &.columns-3{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

@media (max-width: 575px){	
    .boutique-products-grid{
        .woocommerce{
            ul.products{
                 &.columns-4{
                    grid-template-columns: repeat(1, 100%);
                }
                &.columns-3{
                    grid-template-columns: repeat(1, 100%);
                }
            }
        }
    }
}
